html {
  padding: 0;
  margin: 0;
  background-color: #0000003d;
}
body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}
ul {
  color: red;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
