/* SIDEBAR */
.sidebar {
    display: flex;
    position: fixed;
    z-index: 1;
    left: -155px;
    height: 100vh;
    transition-duration: .3s;
}
.mainsidebar {
    background-color: black;
}
.hoversidebar {
    color: black;
}
.hoversidebar p {
    font-size: 4rem;
    padding: 0.5rem;
    margin-top: 40vh;
    cursor: pointer;
}

.sidebar:hover {
    left: 0;
    transition-duration: .5s;
}

.title {
    padding: 1rem;
}
.title h2 {
    color: #ffffff;
    font-size: 2rem;
    padding-right: 1rem;
    cursor: pointer;
}
.img img {
    padding: 1rem;
}

.nav {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.nav button {
    background-color: #000000;
    text-align: left;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 0.5rem;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}
.nav button:hover {
    cursor: pointer;
    background-color: #272323;
    transition-duration: .3s;
}
/* . */

/* CONTAINER */
.container {
    font-family: 'Arvo', serif;
    background-color: #081026;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
}
.container h2 {
    color: #ffffff;
}
/* . */
/* SEARCH */
.search {
    margin-top: 1vw;
}
.search input {
    font-size: 4vw;
    padding: 0.5vw 1vw;
    border: none;
    outline: none;
    transition-duration: .3s;
}
@media(min-width: 768px) {
    .search input {
        font-size: 2vw;
    }
}
.search input:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #930205;
    transform: translateY(-0.05em);
    transition-duration: .3s;
}
.search button {
    color: #000000;
    font-family: 'Arvo', serif;
    font-size: 4vw;
    font-weight: 600;
    margin-left: 1vw;
    padding: 0.5vw;
    border: 1px solid #930205;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(8,16,38,1) 0%, 
            #930205 50%, rgba(8,16,38,1) 100%);
    transition-duration: .3s;
}
@media(min-width: 768px) {
    .search button {
        font-size: 2vw;
    }
}
.search button:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: 0 0.5em 0.5em -0.4em #930205;
    transform: translateY(-0.05em);
}
/* . */
/* CARDS */
.titlem {
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.5vw;
    background: linear-gradient(90deg, rgba(8,16,38,1) 0%, 
            rgba(147,2,5,1) 50%, rgba(8,16,38,1) 100%);
    text-transform: uppercase;
    font-size: 6vw;
    margin: 0;
    padding: 0;
}
.card{
    position: relative;
    display: grid;
    margin-left: -40px;
}
.card p {
    color: #ffffff;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media(min-width: 1280px) {
    .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.card > div {
    margin: 2vw;
    padding: 0 1vw;
    transition-duration: .3s;
    font-size: 3.5vw;
}
@media(min-width: 768px) {
    .card > div {
        font-size: 2vw;
    }
}
.card > div:hover {
    background-color: #272323;
    transition-duration: .3s;
}
.cardimgcomic {
    border-radius: 2vw 2vw 0vw 0vw;
}
.cardimgcomic img {
    margin-top: 1vw;
    width: 30vw;
    height: 50vw;
}
@media (min-width: 1280px) {
    .cardimgcomic img {
        width: 20vw;
        height: 30vw;
    }
}
.cardimg img {
    margin-top: 1vw;
    width: 30vw;
    height: 30vw;
}
@media (min-width: 1280px) {
    .cardimg img {
        width: 20vw;
        height: 20vw;
    }
}
.learnmore {
    font-family: 'Arvo', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(90deg, rgba(8,16,38,1) 0%, 
            rgba(147,2,5,1) 50%, rgba(8,16,38,1) 100%);
    border: 2px solid #081026;
    margin: 1vw;
    padding: 1vw;
    transition-duration: .3s;
}
@media(min-width: 768px) {
    .learnmore {
        font-size: 1.5vw;
    }
}
@media(min-width: 1280px) {
    .learnmore {
        font-size: 1vw;
    }
}
.learnmore:hover,
.learnmore:focus {
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #930205;
    transition-duration: .3s;
}
/* . */
/* Card */
.modal {
    width: 80%;
    color: #ffffff;
    background-color: #081026;
    position: absolute;
}
.modal h3 {
    margin-left: 1vw;
    margin-top: 0;
}
@media(min-width: 768px) {
    .modal h3 {
        font-size: 2vw;
    }
}
.info {
    padding: 2vw;
    text-align: left;
    font-size: 3.5vw;
    margin-left: 2vw;
    color: #ffffff;
}
.info div {
    margin-top: 1vw;
}
.info span {
    margin: 1vw 1vw 1vw 0;
    color: #ffffff;
    font-weight: 800;
}
@media(min-width: 768px) {
    .info {
        font-size: 1.5vw;
    }
}
.close {
    margin-left: 85%;
    background-color: #081026;
    border: none;
    padding: .5vw 2vw;
    color: #ffffff;
    font-weight: 900;
    font-size: 4vw;
    transition-duration: .3s;
}
@media(min-width: 768px) {
    .close {
        font-size: 2vw;
    }
}
.close:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #930205;
    transition-duration: .3s;
}
.modal img {
    border: 2px solid #ffffff;
    width: 30%;
    height: 30%;
    margin: 1vw;
}

/* . */
/* PAGINATION */
.pagination {
    justify-content: center;
    display: flex;
    list-style-type: none;
    gap: .2vw;
    font-size: 2.2vw;
    font-weight: 900;
    padding: 0;
    margin: 3vw 1vw;
    color: #ffffff;
}
@media(min-width: 768px) {
    .pagination {
        font-size: 2vw;
        gap: 2vw;
    }
}
.pagination a {
    margin: 0;
    padding: 1vw;
}
.pagination a:hover {
    cursor: pointer;
}
.pagination li:first-of-type {
    margin-left: 0;
    color: #ffffff;
    background-color: #930205;
}
.pagination li:last-of-type {
    color: #ffffff;
    background-color: #930205;
}
.pagination li {
    margin-left: 1vw;
}
.pagination li:hover {
    color: #000000;
    background-color: #ffffff;
    transition-duration: .3s;
}
.active {
    color: #ffffff;
    background-color: #930205;
    transition-duration: .3s;
}
/* . */