/* SIDEBAR */
.sidebar {
    display: flex;
    position: fixed;
    z-index: 1;
    left: -160px;
    height: 100vh;
    transition-duration: .3s;
}
.mainsidebar {
    background-color: black;
}
.hoversidebar {
    color: black;
}
.hoversidebar p {
    font-size: 4rem;
    padding: 0.5rem;
    margin-top: 40vh;
    cursor: pointer;
}

.sidebar:hover {
    left: 0;
    transition-duration: .5s;
}

.title {
    padding: 1rem;
}
.title h2 {
    color: #ffffff;
    font-size: 2rem;
    padding-right: 1rem;
    cursor: pointer;
}
.img img {
    padding: 1rem;
}

.nav {
    font-family: 'Arvo', serif;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.nav a {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 1rem 1rem 1rem 0.5rem;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}
.nav a:hover {
    background-color: #272323;
    transition-duration: .3s;
}
/* . */

/* CONTENT */
.container {
    font-family: 'Arvo', serif;
    width: 80%;
    margin-left: 10%;
    color: #000000;
}
.container h2 {
    text-align: center;
    padding-top: 2rem;
}
.container p {
    padding: 0.5rem;
}
.container span {
    font-weight: 800;
    color: #ffffff;
    background-color: #183748;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 1rem;
}
.container button {
    border: none;
    color: #ffffff;
    font-weight: 800;
    width: 100%;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #183748;
    transition-duration: .3s;
}
.container button:hover {
    transition-duration: .3s;
    cursor: pointer;
    background-color: #4c5a61;
}
@media(min-width: 768px) {
    .container button {
        width: auto;
        margin-left: 85%;
    }
}

.table {
    width: 100%;
}

.reference {
    color: #ffffff;
    background-color: #183748;
    padding: 1vw;
}

.info {
    text-align: justify;
    color: #ffffff;
    background-color: #4c5a61;
    padding: 1vw;
}
